body div {
	width: 130px;
	height: 130px;
	font-size: 20pt;
}

#block1 {
	background-color: white;
}

#block2 {
	background-color: yellow;
}

#block3 {
	background-color: red;
}

#block4 {
	background-color: blue;
}